/node_modules
/public/hot
/public/storage
/public/.htaccess

# this is needed
/public/index.php
/storage/framework/views/
/public/php.ini
/public/robots.txt
/public/convertidor
/public/APP
/public/creator
/public/landing
/public/services
/public/vendor
/public/video
/public/xml
/public/.user.ini
/public/favicon.ico
/public/frank.php
/public/convertidor
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/public/images
/bootstrap/cache
/bootstrap/cache/services.php
error_log
.DS_Store

# cache files
.php-cs-fixer.cache
.php-cs.cache
.phpstorm.meta.php
_ide_helper.php

# Generated Laravel Mix files
public/js/app.js
public/js/manifest.js
public/js/vendor.js

public/css/app.css